html{
	height: 100%;
}

body{
	padding: 0px;
	margin: 0px;
	height: 100%;
	font-family: Avenir, Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

footer{
	background-color: #333;
	padding: 40px;
	height: 40px;
	margin-bottom: -40px;
}

footer ul{
	list-style: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
footer ul li{
	display: inline-block;
	color: #fff;
	text-align: center;
	margin: 0px 15px 0px 15px;
	font-size: 10pt;
}

.container{
	max-width: 760px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
}

.img-tracymitrano{
 width: 200px;
 height: 200px;
 background-image: url(../img/tracymitrano.jpg);
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 margin-right: auto;
 margin-left: auto;
 margin-top: 30px;
 margin-bottom: 30px;
}

.img-nikkoschaff{
 width: 200px;
 height: 200px;
 background-image: url(../img/nikkoschaff.jpg);
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 margin-right: auto;
 margin-left: auto;
 margin-top: 30px;
 margin-bottom: 30px;
}

.img-paulciminelli{
 width: 200px;
 height: 200px;
 background-image: url(../img/paulciminelli.jpg);
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 margin-right: auto;
 margin-left: auto;
 margin-top: 30px;
 margin-bottom: 30px;
}

.img-paulayounger{
 width: 200px;
 height: 200px;
 background-image: url(../img/paulayounger.jpg);
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 margin-right: auto;
 margin-left: auto;
 margin-top: 30px;
 margin-bottom: 30px;
}

header.splash{
	padding: 50px;
	background: url(../img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.title{
	text-align: center;
	color: #fff;
	font-size: 15pt;
	font-weight: 10;
	padding: 20px 0px 0px 0px;
	margin: 20px auto 0px auto;
}

h1
{
	text-align: center;
	margin: 0px auto;
}

h2
{
	text-align: center;
	margin: 0px auto;
}

h3
{
	text-align: center;
	margin: 0px auto;
}

.member-role
{
	text-align: center;
	font-weight: bold;
}


.member-bio
{
	text-align: center;
}


img { 
   border:1px solid #021a40;
}